shiny>=1.4
shinywidgets>=0.7
ipyleaflet>=0.20
plotly>=6.0
pandas>=2.2
numpy>=1.26
geopy>=2.4
matplotlib>=3.8
contextily>=1.6
pyproj>=3.6
rdata>=1.0
requests>=2.32
https://api.v2.urbanobservatory.ac.uk/lib/uo-pyfetch.tar.gz